#hand{
  animation: wobble;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
}

#buttonDiv button{
  font-size: 20px;
  margin: 20px;
  padding: 10px;
}


#buttonDiv button:hover{
  font-size: 25px;
  margin: 20px;
}